{% extends 'fp/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- meta tag -->
    <meta charset="utf-8">
    <title>Darktrace-Consulting</title>
    <meta name="description" content="">
    <!-- responsive tag -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

{% block content %}

<body class="defult-home">

    <div class="offwrap"></div>

    <!--Preloader start here-->
    <div id="pre-load">
        <div id="loader" class="loader">
            <div class="loader-container">
                <div class='loader-icon'><img src="{% static 'fp/assets/images/fav.png' %}" alt="Darktrace"></div>
            </div>
        </div>
    </div>
    <!--Preloader area end here-->

    <!-- Main content Start -->
    <div class="main-content">

        <!--Full width header Start-->
        {% include 'fp/header.html' %}
        <!--Full width header End-->

        <!-- Breadcrumbs Start -->
        <div class="rs-breadcrumbs img1">
            <div class="container">
                <div class="breadcrumbs-inner">
                    <h1 class="page-title">Blog Details
                    <span class="watermark">Blogs</span></h1>
                </div>
            </div>
        </div>
        <!-- Breadcrumbs End -->

        <!-- Blog Section Start -->
        <div class="rs-inner-blog pt-100 pb-100 md-pt-70 md-pb-70">
            <div class="container custom">
                <div class="row">
                    <div class="col-lg-4 col-md-12 order-last">
                        <div class="widget-area">
                            
                            <div class="recent-posts mb-50">
                                <div class="widget-title">
                                    <h3 class="title">Other Posts</h3>
                                </div>
                                {% for b in blog3 %}
                                <div class="recent-post-widget">
                                    {% if b.Image %}
                                    <div class="post-img">
                                        <a href="{% url 'blog-detailed' b.Url %}"><img src="{{b.Image.url}}" alt=""></a>
                                    </div>
                                    {% endif %}
                                    <div class="post-desc">
                                        <a href="{% url 'blog-detailed' b.Url %}"> {{b.Title}}
                                        </a>
                                        <span class="date-post"> <i class="fa fa-calendar"></i> {{b.Date}} </span>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-8 pr-35 md-pr-15 md-mt-50">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="blog-details">
                                    {% if blog.Image %}
                                    <div class="bs-img mb-35">
                                        <a href="#"><img src="{{blog.Image.url}}" alt=""></a>
                                    </div>
                                    {% endif %}
                                    <div class="blog-full">
                                        <ul class="single-post-meta">
                                            <li>
                                                <span class="p-date"><i class="fa fa-calendar-check-o"></i> {{blog.Date}}</span>
                                            </li>
                                            <li>
                                                <span class="p-date"> <i class="fa fa-user-o"></i> admin </span>
                                            </li>
                                           
                                        </ul>
                                        <h3>{{blog.Title}}</h3>
                                        <p>
                                            {{blog.Description}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog Section End -->
    </div>
    <!-- Main content End -->

    <!-- Footer Start -->
    {% include 'fp/footer.html' %}
    <!-- Footer End -->

    <!-- start scrollUp  -->
    <div id="scrollUp" class="orange-color">
        <i class="fa fa-angle-up"></i>
    </div>
    <!-- End scrollUp  -->


    <!-- Search Modal Start -->
    <div class="modal fade search-modal" id="searchModal" tabindex="-1">
        <button type="button" class="close" data-bs-dismiss="modal">
            <span class="flaticon-cross"></span>
        </button>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="search-block clearfix">
                    <form>
                        <div class="form-group">
                            <input class="form-control" placeholder="Search Here..." type="text">
                            <button type="submit" value="Search"><i class="flaticon-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Modal End -->
</body>

{% endblock content %}

</html>