{% extends 'fp/base.html' %}
{% load static %}
{% block content %}
<body>
   <!--==============Header=================== -->
    {% include 'fp/header.html' %}
    <!--=============Header==================== -->

    <!--=============Inner Header==================== -->
    <div class="inner-header">
        <div class="breadcrumb-title bg-overlay-black-80 bg-dark" data-jarallax='{"speed": 0.5}' >
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="text-white">Blogs</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb-list list-unstyled d-flex">
                            <li class="breadcrumb-item"><a href="{% url 'home-page' %}"><i class="fas fa-home mr-1"></i>Home</a></li>
                            <li class="breadcrumb-item active"><span>Blogs</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=================Inner Header================ -->

    <!--=================Case Study================ -->
    {% if blogs %}
    <section class="space-ptb case-study">
        <div class="container">
            <div class="row">
                {% for blog in blogs %}
                <div class="col-lg-4 col-sm-6 pb-2 mb-4">
                    <a href="{% url 'blog-details' blog.Url %}"><div class="case-study-item">
                        {% if blog.Image %}
                        <div class="case-study-img">
                            <img class="img-fluid" src="{{blog.Image.url}}" alt="">
                            <!--<a href="blog-single.php"><i class="fas fa-long-arrow-alt-right"></i></a>-->
                        </div>
                        {% endif %}
                        <div class="case-study-info">
                            <!--<a class="case-study-category" href="blog-single.php">Energy & Environment</a>-->
                            <h6 class="case-study-title"><a href="{% url 'blog-details' blog.Url %}">{{blog.Description|slice:':100'}}</a></h6>
                        </div>
                    </div></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% else %}
    <section class="space-ptb case-study">
        <div class="container">
            <div class="row">
                <h1>No blogs available</h1>
            </div>
        </div>
    </section>
    {% endif %}
    <!--=================================
  Case Study -->

     <!--=================================
  footer-->
  {% include 'fp/footer.html' %}
  <!--=============footer====================-->

    <!--===============Back To Top================== -->
    <div id="back-to-top" class="back-to-top">
        <a href="#"><i class="fas fa-long-arrow-alt-up"></i> </a>
    </div>
    <!--===============Back To Top================== -->
</body>
{% endblock content %}