{% extends 'fp/base.html' %}
{% load static %}
{% block content %}
<body>

   <!--=============Header==================== -->
    {% include 'fp/header.html' %}
    <!--=============Header==================== -->

    <!--=============Inner Header==================== -->
    <div class="inner-header">
        <div class="breadcrumb-title bg-overlay-black-80 bg-dark" data-jarallax='{"speed": 0.5}' >
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="text-white">Contact us</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb-list list-unstyled d-flex">
                            <li class="breadcrumb-item"><a href="{% url 'home-page' %}"><i class="fas fa-home mr-1"></i>Home</a></li>
                            <li class="breadcrumb-item active"><span>Contact us</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--===================Inner Header============== -->

    <!--====================Contact Address============= -->
    <section class="space-ptb">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 pr-lg-3 border-right border-lg-none">
                    <div class="mb-3 mb-lg-3">
                        <h6 class="mb-0 mt-3">Address</h6>
                        <p class="mb-0">{{contact.Adress}}</p>
                        <!--<div><strong>Telephone:</strong><span class="text-primary ml-1">(007) 123 456 7890</span></div>-->
                        <!--<div><strong>E-mail:</strong><span class="text-primary ml-1">letstalk@consults.com</span></div>-->
                    </div>
                    <h6 class="mb-0 mt-3">Phone</h6>
                    <!--<p class="mb-0"></p>-->
                    <div><strong>Telephone:</strong><span class="text-primary ml-1">{{contact.Telephone}}</span><br>
                    <strong>Mobile:</strong><span class="text-primary ml-1">{{contact.Mobile}}</span></div><br>
                   
                     <h6 class="mb-0 mt-3">Email</h6>
                      <div><strong>E-mail:</strong><span class="text-primary ml-1">{{contact.Email}}</span></div><br>
                      
                      <h6 class="mb-0 mt-3">Visit Us</h6>
                      <div><strong>Website:</strong><span class="text-primary ml-1">{{contact.Website}}</span></div>
                </div>
                <div class="col-lg-9 pl-lg-9 mt-lg-0 mt-4">
                    <h6 class="mb-4">Need Assistance? <br>Please Get In Touch With Us</h6>
                    <form class="form-flat-style">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <input type="text" class="form-control" placeholder="Your Name">
                            </div>
                            <div class="form-group col-md-4">
                                <input type="email" class="form-control" placeholder="Your Email">
                            </div>
                            <div class="form-group col-md-4">
                                <input type="text" class="form-control" placeholder="Your Number">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <textarea rows="8" class="form-control" id="sector" placeholder="Your Message"></textarea>
                            </div>
                        </div>
                        <a href="#" class="btn btn-primary btn-flat"><i class="btn-icon fas fa-paper-plane"></i><span> Send Message</span></a>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--============Contact Address===================== -->
<div class="space-ptb">
  <div class="case-study mt-n6">
        <div class="container">
          <div class="row">
          <div class="col-12">
            <nav>
              <div class="nav nav-tabs nav-tabs-1" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-one-tab" data-toggle="tab" href="#" role="tab" aria-controls="nav-one" aria-selected="true"><img src="{% static 'fp/images/pin.png' %}" style="height:70px; margin-bottom: 30px;"><h6 class="h6 text-white">{{contact.Adress}}</h6></a>
                <a class="nav-item nav-link" id="nav-tow-tab" data-toggle="tab" href="#nav-tow" role="tab" aria-controls="nav-tow" aria-selected="false"><i class="flaticon-phone"></i><h6 class="h6 text-white">{{contact.Mobile}}</h6></a>
                <a class="nav-item nav-link" id="nav-three-tab" data-toggle="tab" href="#nav-three" role="tab" aria-controls="nav-three" aria-selected="false"><i class="flaticon-email-1"></i><h6 class="h6 text-white">{{contact.Email}}</h6></a>
              </div>
            </nav>
        </div>
    </div>
</div>
</div>
</div>

    <!--==============Map=================== -->
  
    <section class="">
        <div class="col-lg-12 mt-4 mt-lg-0">
            <div class="map">
                <iframe src="https://maps.google.com/maps?q={{contact.Latitude}},{{contact.Longitude}}&output=embed"
                    style="border:0; width: 100%; height: 400px;" allowfullscreen=""></iframe>
            </div>
        </div>
    </section>
    <!--==============Map=================== -->

   <!--===============footer==================-->
  {% include 'fp/footer.html' %}
  <!--=================footer================-->

  <!--============Back To Top===================== -->
    <div id="back-to-top" class="back-to-top">
        <a href="#"><i class="fas fa-long-arrow-alt-up"></i> </a>
    </div>
    <!--===========Back To Top====================== -->
</body>
{% endblock content %}