 {% load static %}
 <footer class="space-pt footer footer-02 bg-dark">
    <div class="container">
      <div class="row">
          
        <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
            <br><br>
           <div class="footer-logo mb-4"><br><br><br>
            <a href="{% url  'home-page' %}"></a><img class="img-fluid" src="{{contact.Image.url}}" alt=""></a>
            </div>
        </div>
        <div class="col-lg-2 col-sm-6 mb-4 mb-lg-0">
          <div class="footer-link">
            <h6 class="text-white mb-3 mb-md-4">Quick Links</h6>
            <ul class="list-unstyled">
              <li><a href="{% url 'home-page' %}"><i class="btn-icon fas fa-long-arrow-alt-right mr-2"></i>Home</a></li>
              {% if quick.About_Page %}
                <li><a href="{% url 'about-page' %}"><i class="btn-icon fas fa-long-arrow-alt-right mr-2"></i>About</a></li>
              {% endif %}

              {% if quick.Service_Page %}
                <li><a href="{% url 'services-page' %}"><i class="btn-icon fas fa-long-arrow-alt-right mr-2"></i>Services</a></li>
              {% endif %}

              {% if quick.Blog_Page %}
                <li><a href="{% url 'blogs-page' %}"><i class="btn-icon fas fa-long-arrow-alt-right mr-2"></i>Blogs</a></li>
              {% endif %}

              {% if quick.Image_Gallery %}
                <li><a href="{% url 'gallery-page' %}"><i class="btn-icon fas fa-long-arrow-alt-right mr-2"></i>Gallery</a></li>
              {% endif %}

              {% if quick.Contact_Page %}
                <li><a href="{% url 'contact-page' %}"><i class="btn-icon fas fa-long-arrow-alt-right mr-2"></i>Contact</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
        {% if quick.Optional_Service %}
          <div class="col-lg-2 col-sm-6 mb-4 mb-lg-0">
            <div class="footer-link">
              <h6 class="text-white mb-3 mb-md-4">Services</h6>
              <ul class="list-unstyled">
                <li><a href="#"><i class="btn-icon fas fa-long-arrow-alt-right mr-2"></i>Service1</a></li>
              </ul>
            </div>
          </div>
        {% endif %}
        
        {% if quick.Optional_Products %}
          <div class="col-lg-2 col-sm-6 mb-4 mb-lg-0">
            <div class="footer-link">
              <h6 class="text-white mb-3 mb-md-4">Products</h6>
              <ul class="list-unstyled">
                <li><a href="#"><i class="btn-icon fas fa-long-arrow-alt-right mr-2"></i>Product1</a></li>
              </ul>
            </div>
          </div>
        {% endif %}
        
        {% if contact %}
          <div class="col-lg-2 col-sm-6 mb-4 mb-sm-0">
            <div class="footer-link">
              <h6 class="text-white mb-3 mb-md-4">Contact</h6>
              <p>{{contact.Adress}}<br>
              Telephone : <a href="tel:123-345-6789">{{contact.Mobile}}</a><br>
              Email : <a href="mailto:letstalk@gmail.com">{{contact.Email}}</a></p>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
         <div class="border-bottom opacity-2 space-pt"></div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p class="mb-0 text-white"> &copy; Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <a href="{% url 'home-page' %}"> {{contact.Company_Name}} </a> All Rights Reserved </p>
          </div>
          <div class="col-md-6  mt-2 mt-md-0 copyright text-md-right">
            Designed by <a href="#">Weblanza</a>
          </div>
        </div>
      </div>
    </div>
  </footer>