 {% load static %}
 <style type="text/css">
  @media only screen and (max-width: 600px) {
    .noshowinmob {
    display: none;
    }
  }
   .whatsappicon {
        bottom:50px;
        position: fixed;
        padding: 5px;
        right: 30px; 
        z-index: 999;
    }
    .whatsappicon img {
      width: 55px;
    } 
     .call {
    bottom: 50px;
    position: fixed;
    padding: 5px;
    left: 31px;
    z-index: 999;
    }
    .call img {
      width: 51px;
    } 
@media only screen and (max-width: 600px) {
     .whatsappicon {
      bottom: 37px;
    right: 33px;
     }
    .whatsappicon img {
      width: 48px;
    }     
   .call {
      bottom: 37px;
      left: 15px;
     }
    .call img {
      width: 48px;
    }   
}
</style>

<header class="header header-sticky default">
        <nav class="navbar navbar-static-top navbar-expand-xl">
            <div class="container position-relative">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse"><i class="fas fa-align-left"></i></button>
                <a class="navbar-brand" href="{% url 'home-page' %}">
            <img class="img-fluid" src="{% static 'fp/images/logo.png' %}" alt="logo">
          </a>
                <div class="navbar-collapse collapse justify-content-end justify-content-xl-center">
                    <ul class="nav navbar-nav">
                        <li class="nav-item dropdown active">
                            <a class="nav-link" href="{% url 'home-page' %}" role="button"  aria-haspopup="true" aria-expanded="false">Home</a>
                        </li>
                        <li class="dropdown nav-item">
                             <a class="nav-link" href="{% url 'about-page' %}" role="button"  aria-haspopup="true" aria-expanded="false">About</a>
                        </li>
                        <li class="dropdown nav-item">
                             <a class="nav-link" href="{% url 'services-page' %}" role="button"  aria-haspopup="true" aria-expanded="false">Service</a>
                             <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#"><span>Service1</span></a></li>
                                <li><a class="dropdown-item" href="#"><span>Service2</span></a></li>
                            </ul> -->
                        </li>
                        <!--<li class="dropdown nav-item">-->
                        <!--     <a class="nav-link" href="team.php" role="button"  aria-haspopup="true" aria-expanded="false">Team</a>-->
                        <!--</li>-->
                        <li class="dropdown nav-item">
                             <a class="nav-link" href="{% url 'products-page' %}" role="button"  aria-haspopup="true" aria-expanded="false">Products</a>
                        </li>
                        <li class="dropdown nav-item">
                             <a class="nav-link" href="{% url 'blogs-page' %}" role="button"  aria-haspopup="true" aria-expanded="false">Blog</a>
                        </li>
                        <li class="dropdown nav-item">
                             <a class="nav-link" href="{% url 'gallery-page' %}" role="button"  aria-haspopup="true" aria-expanded="false">Gallery</a>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="nav-link" href="{% url 'contact-page' %}" role="button"  aria-haspopup="true" aria-expanded="false">Contact</a>
                        </li>
                        <!--<li class="dropdown nav-item header-search">-->
                        <!--    <div class="search">-->
                        <!--        <a class="search-btn not_click" href="javascript:void(0);"></a>-->
                        <!--        <div class="search-box not-click">-->
                        <!--            <form action="#" method="get">-->
                        <!--                <input type="text" class="not-click form-control" name="search" placeholder="Search.." autofocus>-->
                        <!--                <button class="search-button" type="submit"> <i class="fa fa-search not-click"></i></button>-->
                        <!--            </form>-->
                        <!--        </div>-->
                        <!--    </div>-->
                        <!--</li>-->
                    </ul>
                </div>
                <!--<a class="btn btn-primary btn-md mr-5 mr-xl-0 d-none d-sm-block" href="contact.php"><i class="btn-icon fas fa-long-arrow-alt-right"></i> <span>Get a quote</span> </a>-->
            </div>
        </nav>
         <div class="call">
    <a href="#"><img src="{% static 'fp/images/call.png' %}"></a></div>
  </div>
  
        <div class="whatsappicon">
    <a href="#"><img src="{% static 'fp/images/whatsappicon.png' %}"></a></div>
  </div>
    </header>
    
   