{% extends 'fp/base.html' %}
{% load static %}
{% block content %}
<body>

    <!--=================================
    Header -->
    {% include 'fp/header.html' %}
    <!--=================================
    Header -->
    <style>
        footer .footer-logo {
    width: 100%;
    text-align: center;
}
    </style>
    
    <!--=================================
    Banner -->
    <section class="slider-02">
        <div id="main-slider" class="swiper-container">
            <div class="slider-social-fix">
                <div class="container">
                    <div class="slider-social">
                        <ul class="list-unstyled">
                            <li><a href="#"> <i class="fab fa-facebook-f"></i> </a></li>
                            <li><a href="#"> <i class="fab fa-twitter"></i> </a></li>
                            <li><a href="#"> <i class="fab fa-pinterest-p"></i> </a></li>
                            <li><a href="#"> <i class="fab fa-linkedin-in"></i> </a></li>
                        </ul>
                        <span>Follow us</span>
                    </div>
                </div>
            </div>
            <div class="swiper-wrapper">
                <div class="swiper-slide align-items-center d-flex slide-01" style="background-image: url(static/fp/images/slider/home-02/01.jpg); background-repeat: no-repeat; background-size: cover; background-position: center;">
                    <div class="container">
                        <div class="row justify-content-end">
                            <div class="col-lg-7 col-sm-8 text-right text-sm-center px-4">
                                <h2 class="animated mb-0 mb-sm-4 h1" data-swiper-animation="fadeInUp" data-duration="2.0s" data-delay="1.0s">Truly Corporate</h2>
                                <p class="animated lead mb-0 mx-0 mx-md-4" data-swiper-animation="fadeInUp" data-duration="2.0s" data-delay="1.5s">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                                <a class="animated btn btn-outline-primary mt-4" data-swiper-animation="fadeInUp" data-duration="2.0s" data-delay="2.0s" href="products,php"><span> Purchase now</span><i class="btn-icon fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide align-items-center d-flex slide-01" style="background-image: url(static/fp/images/slider/home-02/02.jpg); background-repeat: no-repeat; background-size: cover; background-position: center;">
                  <div class="container">
                      <div class="row justify-content-end">
                          <div class="col-lg-7 col-sm-8 text-right text-sm-center px-4">
                              <h2 class="animated mb-0 mb-sm-4 h1" data-swiper-animation="fadeInUp" data-duration="2.0s" data-delay="1.0s">Truly Corporate</h2>
                              <p class="animated lead mb-0 mx-0 mx-md-4" data-swiper-animation="fadeInUp" data-duration="2.0s" data-delay="1.5s">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                              <a class="animated btn btn-outline-primary mt-4" data-swiper-animation="fadeInUp" data-duration="2.0s" data-delay="2.0s" href="products,php"><span> Purchase now</span><i class="btn-icon fas fa-long-arrow-alt-right"></i></a>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="swiper-slide align-items-center d-flex slide-01" style="background-image: url(static/fp/images/slider/home-02/03.jpg); background-repeat: no-repeat; background-size: cover; background-position: center;">
                  <div class="container">
                      <div class="row justify-content-end">
                          <div class="col-lg-7 col-sm-8 text-right text-sm-center px-4">
                              <h2 class="animated mb-0 mb-sm-4 h1" data-swiper-animation="fadeInUp" data-duration="2.0s" data-delay="1.0s">Truly Corporate</h2>
                              <p class="animated lead mb-0 mx-0 mx-md-4" data-swiper-animation="fadeInUp" data-duration="2.0s" data-delay="1.5s">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                              <a class="animated btn btn-outline-primary mt-4" data-swiper-animation="fadeInUp" data-duration="2.0s" data-delay="2.0s" href="products,php"><span> Purchase now</span><i class="btn-icon fas fa-long-arrow-alt-right"></i></a>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
            <div class="swiper-pagination-left-center">
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>
    <!--=================================
    Banner -->
   <section class="space-ptb team-grid">
      <div class="container">
        <div class="row">
            <div class="col-12">
            <div class="section-title text-center">
              <h2>Our Products</h2>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 mb-4 pb-2">
            <a href="products-single.php"><div class="team team-style-1">
              <div class="team-img">
                <img class="img-fluid" src="{% static 'fp/images/products/2.jpg' %}" alt="">
              </div>
              <div class="team-info">
                <h6 class="team-title"><a href="products-single.php">Product 2</a><p class="pro-price"><del style="color:red;">$99</del>&nbsp $99</p></h6>
                <!--<span class="team-designation">Description</span>-->
                <a class="btn-link" href="products-single.php">View Product</a>
              </div>
            </div></a>
          </div>
        </div>
      </div>
    </section>
    <!--==================Team=============== -->
     <!--=================About Company================-->
    <section class="space-pb">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 mb-md-0 mb-4">
            <img class="img-fluid rounded" src="{% static 'fp/images/about/about-img.jpg' %}" alt="">
          </div>
          <div class="col-md-6">
            <div class="section-title" style="margin-bottom:20px; padding-top:24px;" >
              <h2>All the Lorem Ipsum, Internet tend to repeat chunks.</h2>
            </div>
            <p class=" mb-4" style="text-align:justify;">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose.</p>
            <p class=" mb-4" style="text-align:justify;">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
            
          </div>
        </div>
      </div>
    </section>
    <!--================About Company================= -->
    
    
   

    <!--==================Services=============== -->
    <section class="space-pb">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <div class="section-title">
                        <h2> Services<br>We Offer.</h2>
                    </div>
                    <!--<p class="mb-0">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>-->
                </div>
                <div class="col-lg-8">
                    <div class="owl-carousel mt-n4 mb-n4" data-nav-arrow="false" data-items="2" data-md-items="2" data-sm-items="2" data-xs-items="2" data-xx-items="1" data-space="30" data-autoheight="true" data-autospeed="4000">
                        <div class="item">
                            <a href="service-single.php"><div class="service-item mb-3">
                                <div class="service-img">
                                    <img class="img-fluid" src="{% static 'fp/images/service/02.jpg' %}" alt="">
                                    <!--<a href="service.php"><i class="fas fa-long-arrow-alt-right"></i></a>-->
                                </div>
                                <div class="service-info">
                                    <h6 class="service-info-title"><a href="service-single.php">Service2</a></h6>
                                </div>
                            </div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Services================= -->

    

     <!--==================Case Study=============== -->
    <section class="case-study-section">
      <div class="space-ptb bg-holder bg-overlay-black-90 dark-arrow-style" style="background-image: url('images/bg/04.jpg');">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-12">
            </div>
          </div>
       </div>
        <div class="container position-relative">
          <div class="section-title text-center pb-5 pb-lg-3 pt-3">
            <!--<span class="pre-title text-white">Our Blogs</span>-->
            <h2 class="text-white">Latest News & Blogs</h2>
          </div>
        </div>
      </div>
      <div class="case-study mt-n6 position-relative z-index-1">
        <div class="container">
          <div class="row d-flex justify-content-center">
            
            <div class="col-sm-6 col-lg-4 mb-lg-0 mb-4">
              <div class="case-study-item">
                <div class="case-study-img">
                  <img class="img-fluid" src="{% static 'fp/images/case-study/03.jpg' %}" alt="">
                 <!--<a href="blog-single.php"><i class="fas fa-long-arrow-alt-right"></i></a>-->
                </div>
                <div class="case-study-info">
                  <!--<a class="case-study-category" href="blog.html">Energy & Environment</a>-->
                  <h6 class="case-study-title"><a href="blog.php">Blog-Title 2</a></h6>
                   <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything</p>
                   <a class="btn-link" href="blog-single.php">Read More >></a>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </section>
    <!--==================Case Study=============== -->
    <br><br>


     <!--=================Testimonial================ -->
    <section class="space-ptb bg-holder bg-overlay-white-70 bg-white" style="background-image: url('images/bg/pattern-01.jpg');">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title text-center">
              <!--<span class="pre-title">What our happy clients say about us</span>-->
              <h2>Our Testimonials</h2>
            </div>
          </div>
        </div>
        <div class="row mt-n4">
          <div class="col-md-12">
            <div class="owl-carousel testimonial testimonial-style-1 owl-nav-bottom-center" data-nav-dots="true" data-nav-arrow="false" data-items="2" data-md-items="1" data-sm-items="1" data-xs-items="1" data-xx-items="1" data-space="30" data-autoheight="true">
              <div class="item">
                <div class="testimonial-item">
                  <div class="testimonial-content">
                    <div class="quote-icon">
                      <i class="fas fa-quote-left"></i>
                    </div>
                    <p class="mb-0">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
                  </div>
                  <div class="testimonial-info">
                    <div class="testimonial-avatar-img">
                      <img class="img-fluid" src="{% static 'fp/images/avatar/05.jpg' %}" alt="">
                    </div>
                    <div class="testimonial-author">
                      <h6 class="author-name">- Client2.</h6>
                      <span class="author-designation">Project Manager</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </section>
    

    

    <!--=================Client Logo================ -->
    <section class="space-ptb">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="owl-carousel our-clients" data-nav-arrow="false" data-items="6" data-md-items="5" data-sm-items="4" data-xs-items="3" data-xx-items="1" data-space="30" data-autoheight="true" data-autospeed="4000">
                        <div class="item">
                            <a href="#"><img class="img-fluid" src="{% static 'fp/images/client/01.svg' %}" alt=""></a>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--===================Client Logo============== -->

    <!--=================================
  footer-->
  {% include 'fp/footer.html' %}
  <!--=================================
  footer-->
</body>
{% endblock content %}