{% extends 'fp/base.html' %}
{% load static %}
{% block content %}
  <body>
  <!--===============Header================== -->
   {% include 'fp/header.html' %}
  <!--===============Header================== -->

    <!--=============Inner Header==================== -->
    <div class="inner-header">
      <div class="breadcrumb-title bg-overlay-black-80 bg-dark" data-jarallax='{"speed": 0.5}'>
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="text-white">Product Detail</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="breadcrumb">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <ol class="breadcrumb-list list-unstyled d-flex">
                <li class="breadcrumb-item"><a href="{% url 'home-page' %}"><i class="fas fa-home mr-1"></i>Home</a></li>
                <li class="breadcrumb-item active"><span>Product Detail</span></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!--=================Inner Header================ -->
  
  
   <style>
    .product-det{
        float:left;
        width:100%;
    }
     .product-det img{
        float:left;
        width:100%;
    }
    </style>

  <!--=================Product================ -->
  <section class="space-ptb shop-single">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-md-6  col-sm-12 col-xs-12 col-12 mb-4 mb-md-0">
              <div class="product-det">
                <!--<div class="slider slider-for detail-big-car-gallery">-->
                 <img src="{% static 'fp/images/products/single-1.jpg' %}" alt="">
                <!--</div>-->
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 col-12">
              <div class="product-detail">
                <h4>Product Title</h4>
                <div class="product-price-rating">
                  <div class="product-price">
                    <h4><del>$24.99</del><span>$12.49</span></h4>
                  </div>
                </div>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
               <a class="btn btn-primary btn-md mr-5 mr-xl-0  d-sm-block col-md-3" href="#" data-toggle="modal" data-target="#get-quote"><i class="btn-icon fas fa-long-arrow-alt-right"></i> <span>Enquire</span> </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </section>
  <!--================Product================= -->

  <!--================footer=================-->
  {% include 'fp/footer.html' %}
  <!--================footer=================-->

  <!--=================Back To Top================ -->
  <div id="back-to-top" class="back-to-top">
    <a href="#"><i class="fas fa-long-arrow-alt-up"></i> </a>
  </div>
  <!--=================Back To Top================ -->
  
  	<!-- modal pop-up -->
		<div class="modal " id="get-quote" tabindex="-1" role="dialog" aria-labelledby="language" style="padding-right: 5px;">
<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
<div class="modal-content">
<button type="button" class="close_form" data-dismiss="modal" aria-label="Close"></button>
<div class="modal-body" style="padding:0;">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 clearfix push-left">
<form class="form-width " method="POST" id="form_submit_1" action="booking_submit.php">

  <h2 style="color:#3c479d; text-align:center; padding-top: 30px;">Quick Enquiry</h2>
  
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 clearfix float-left">
<div class="log_set" style="margin-bottom:0px;">
<label style="color:#000;">Name</label>
<input type="text" name="name" class="charonly" value="" placeholder="Enter your name" required="" style=" border:1px solid #ccc; padding: 0px 0px 0px 10px;">
</div>  
</div>  
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 clearfix float-left">
<div class="log_set" style="margin-bottom:0px;">
<label style="color:#000;">Mobile No</label>
<input type="text" name="mobile" class="charonly" value="" placeholder="Enter your mobile" required="" style=" border:1px solid #ccc; padding: 0px 0px 0px 10px;">
</div>  
</div>         
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 clearfix float-left">
<div class="log_set" style="margin-bottom:30px;">
<label style="color:#000;">Email</label>
<input type="email" name="email" value="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Enter your email" required="" style=" border:1px solid #ccc; padding: 0px 0px 0px 10px;">
</div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 clearfix float-left"><button type="submit" name="btnSubmit" class="btn btn-primary" style="width:32%; margin-left:auto; margin-right:auto; display: block; margin-bottom:15px;"><i class="btn-icon fas fa-long-arrow-alt-right"></i>SUBMIT</button></div>
</form>   
</div>
<div class="col-md-6 clearfix push-left ml-imgs" style="padding:15px;">
 
</div>
</div>
</div>
</div>
</div>



		<!-- //modal pop-up -->


  <!--=================================
  Javascript -->
        <script src="{% static 'fp/js/jquery.min.js' %}"></script>
        <script src="{% static 'fp/js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'fp/js/bootstrap.min.js' %}"></script>

  <!-- JS Global Compulsory (Do not remove)-->
  
  <script src="{% static 'fp/js/jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'fp/js/popper/popper.min.js' %}"></script>
  <!--<script src="js/bootstrap/bootstrap.min.js"></script>-->

  <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
  <script src="{% static 'fp/js/slick/slick.min.js' %}"></script>
  <script src="{% static 'fp/js/jarallax/jarallax.min.js' %}"></script>

  <!-- Template Scripts (Do not remove)-->
  <script src="{% static 'fp/js/custom.js' %}"></script>
  <script type="{% static 'fp/text/javascript' %}" src="{% static 'fp/assets/js/aos.js' %}"></script>
		<script>
		    AOS.init({
		        easing: 'ease-out-back',
		        duration: 2000
		    });
		</script>
</body>
{% endblock content %}