<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Corporate HTML5 template"/>
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Owl Language</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon1.png" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- CSS Global Compulsory (Do not remove)-->
    <link rel="stylesheet" href="css/font-awesome/all.min.css" />
    <link rel="stylesheet" href="css/flaticon/flaticon.css" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />

    <!-- Template Style -->
    <link rel="stylesheet" href="css/style.css" />

</head>

<body>

    <!--=================================
    Header -->
    <?php
        include("header.php");
    ?>
    <!--=================================
    Header -->

    <!--=================================
    Inner Header -->
    <div class="inner-header">
        <div class="breadcrumb-title bg-overlay-black-80 bg-dark" data-jarallax='{"speed": 0.5}'>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="text-white">Product Details</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb-list list-unstyled d-flex">
                            <li class="breadcrumb-item"><a href="index.php"><i class="fas fa-home mr-1"></i>Home</a></li>
                            <li class="breadcrumb-item"><a href="products.php"><span>Product</span></a></li>
                            <li class="breadcrumb-item active"><span>Product Details</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=================================
  Inner Header -->

    <!--=================================
  Business model evaluation -->
    <section class="space-ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xl-3">
                    
                    <!--<div class="bg-dark rounded p-4 mb-md-0 mb-5">-->
                    <!--    <span class="lead text-primary font-weight-bold">Are you looking for a customizing service? Please contact us</span>-->
                    <!--    <h6 class="text-white mt-3">(007) 123 456 7890 </h6>-->
                    <!--    <span class="text-white">info@example.com</span>-->
                    <!--</div>-->
                </div>
                <div class="col-md-12 col-xl-12">
                    <img class="img-fluid mb-4" src="images/service/10.jpg" alt="">
                    <div class="mb-md-5 mb-4">
                        <h4 class="mb-4">Product Description</h4>
                        <p class="lead mb-0">Strategies to market new-age businesses is that it is a process – nothing more, nothing less. There is really no magic to it and it’s not reserved only for a select few people. As such, success really has nothing to do with luck,
                            coincidence or fate. It really comes down to understanding the steps in the process and then executing on those steps.
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>
                    </div>
                    <!--<div class="d-flex bg-primary rounded p-4 p-sm-5 mb-md-5 mb-4">-->
                    <!--    <i class="fas fa-6x mt-n3 opacity-1 fa-quote-left quote-icon text-dark"></i>-->
                    <!--    <h6 class="text-white font-weight-normal mb-0 ml-n5 ml-sm-n4">I have gotten at least 50 times the value from consults. I will let my mum know about this, she could really make use of consults! Wow what great service, I love it! consults is the real deal!</h6>-->
                    <!--</div>-->
                    
                    <a class="btn btn-primary btn-md mr-5 mr-xl-0 d-none d-sm-block col-md-3"  data-toggle="modal" data-target="#get-quote" href="#"><i class="btn-icon fas fa-long-arrow-alt-right"></i> <span>Enquire</span> </a>
                </div>
            </div>
        </div>
    </section>
    <!--=================================
  Business model evaluation -->

    <!--=================================
  footer-->
    <?php
        include("footer.php");
    ?>
    <!--=================================
  footer-->

    <!--=================================
  Back To Top -->
    <div id="back-to-top" class="back-to-top">
        <a href="#"><i class="fas fa-long-arrow-alt-up"></i> </a>
    </div>
    <!--=================================
  Back To Top -->
  
  
  <!-- modal pop-up -->
		<div class="modal " id="get-quote" tabindex="-1" role="dialog" aria-labelledby="language" style="padding-right: 5px;">
<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
<div class="modal-content">
<button type="button" class="close_form" data-dismiss="modal" aria-label="Close"></button>
<div class="modal-body" style="padding:0;">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 clearfix push-left">
<form class="form-width " method="POST" id="form_submit_1" action="booking_submit.php">

  <h2 style="color:#3c479d; text-align:center; padding-top: 30px;">Enquiry Form</h2>
  
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 clearfix float-left">
<div class="log_set" style="margin-bottom:0px;">
<label style="color:#000;font-family: 'Source Sans Pro',sans-serif;">Name</label>
<input type="text" name="name" class="charonly" value="" placeholder="Enter your name" required="" style=" border:1px solid #ccc; padding: 0px 0px 0px 10px;">
</div>  
</div>  
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 clearfix float-left">
<div class="log_set" style="margin-bottom:0px;">
<label style="color:#000;font-family: 'Source Sans Pro',sans-serif;">Mobile No</label>
<input type="text" name="mobile" class="charonly" value="" placeholder="Enter your mobile" required="" style=" border:1px solid #ccc; padding: 0px 0px 0px 10px;">
</div>  
</div>         
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 clearfix float-left">
<div class="log_set" style="margin-bottom:0px;">
<label style="color:#000;font-family: 'Source Sans Pro',sans-serif;">Email</label>
<input type="email" name="email" value="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Enter your email" required="" style=" border:1px solid #ccc; padding: 0px 0px 0px 10px;">
</div>
</div>
        
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 clearfix float-left btn btn-primary btn-md mr-5 mr-xl-0 d-none d-sm-block" ><button type="submit" name="btnSubmit" class="default-btn" style="width:20%; margin-left:auto; margin-right:auto; display: block; margin-bottom:15px;">SUBMIT</button></div>
</form>   
</div>
<div class="col-md-6 clearfix push-left ml-imgs" style="padding:0;">
 
</div>
</div>
</div>
</div>
</div>



		<!-- //modal pop-up -->

    <!--=================================
  Javascript -->

    <!-- JS Global Compulsory (Do not remove)-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/popper/popper.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>

    <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
    <script src="js/jarallax/jarallax.min.js"></script>

    <!-- Template Scripts (Do not remove)-->
    <script src="js/custom.js"></script>
</body>

</html>