{% extends 'fp/base.html' %}
{% load static %}
{% block content %}
<body>

   <!--===============Header================== -->
   {% include 'fp/header.html' %}
    <!--===============Header================== -->

    <!--==============Inner Header=================== -->
    <div class="inner-header">
        <div class="breadcrumb-title bg-overlay-black-80 bg-dark" data-jarallax='{"speed": 0.5}'>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="text-white">Services</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb-list list-unstyled d-flex">
                            <li class="breadcrumb-item"><a href="{% url 'home-page' %}"><i class="fas fa-home mr-1"></i>Home</a></li>
                            <li class="breadcrumb-item active"><span>Services</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--===================Inner Header============== -->

    <!--===================Grid Right Sidebar============== -->
    {% if services %}

    <section class="space-ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12 order-md-2 order-1">
                    <div class="row">
                        {% for service in services %}
                        <div class="col-sm-4 col-md-4 col-lg-4 mb-4 pb-2">
                            <a href="{% url 'service-details' service.Url %}"><div class="service-item">
                                {% if service.Image %}
                                <div class="service-img">
                                    <img class="img-fluid" src="{{service.Image.url}}" alt="">
                                    <!--<a href="service-single.html"><i class="fas fa-long-arrow-alt-right"></i></a>-->
                                </div>
                                {% endif %}
                                <div class="service-info">
                                    <h6 class="service-info-title"><a href="{% url 'service-details' service.Url %}">{{service.Title}}</a>
                                    {% if service.Show_Price %}
                                        {% if service.Offer_Price %}
                                            <p class="price"><del style="color:red;">${{service.Actual_Price}}</del>&nbsp ${{service.Offer_Price}}</p></h6>
                                        {% else %}
                                            <p class="price">${{service.Actual_Price}}</p></h6>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div></a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    {% else %}

    <section class="space-ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xl-12 order-md-2 order-1">
                    <div class="row">
                        <h1>No services availabe</h1>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    {% endif %}
    <!--=====================Grid Right Sidebar============ -->

  
     <!--====================footer=============-->
    {% include 'fp/footer.html' %}
  <!--===================footer==============-->


<!--===================Back To Top============== -->
    <div id="back-to-top" class="back-to-top">
        <a href="#"><i class="fas fa-long-arrow-alt-up"></i> </a>
    </div>
    <!--===============Back To Top==================  -->
</body>
{% endblock content %}