{% extends 'fp/base.html' %}
{% load static %}
{% block content %}
  <body>
    <!--==============Header=================== -->
   {% include 'fp/header.html' %}
    <!--===============Header================== -->

    <!--==============Inner Header=================== -->
    <div class="inner-header">
      <div class="breadcrumb-title bg-overlay-black-80 bg-dark" data-jarallax='{"speed": 0.5}'>
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="text-white">Service Detail</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="breadcrumb">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <ol class="breadcrumb-list list-unstyled d-flex">
                <li class="breadcrumb-item"><a href="{% url 'home-page' %}"><i class="fas fa-home mr-1"></i>Home</a></li>
                <li class="breadcrumb-item active"><span>Service Detail</span></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!--================Inner Header================= -->
  
  
  <style>
    .service-det{
        float:left;
        width:100%;
    }
     .service-det img{
        float:left;
        width:100%;
    }
    </style>
  

  <!--==================Product=============== -->
  <section class="space-ptb shop-single">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-md-6  col-sm-12 col-xs-12 col-12 mb-4 mb-md-0">
              {% if service.Image %}
                <div class="service-det">
                  <img src="{{service.Image.url}}" alt="">
                </div>
              {% endif %}
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 col-12">
              <div class="product-detail">
                <h4>{{service.Title}}</h4>
                <div class="product-price-rating">
                  {% if service.Show_Price %}
                    {% if product.Offer_Price %}
                      <div class="product-price">
                        <h4><del>${{service.Actual_Price}}</del><span>${{service.Offer_Price}}</span></h4>
                      </div>
                    {% else %}
                      <div class="product-price">
                        <h4><span>${{service.Actual_Price}}</span></h4>
                      </div>
                    {% endif %}
                  {% endif %}
                </div>
                <p>{{service.Description}}</p>
                {% if service.Show_Enquiry %}
                  <a class="btn btn-primary btn-md mr-5 mr-xl-0  d-sm-block col-md-3" href="#" data-toggle="modal" data-target="#get-quote"><i class="btn-icon fas fa-long-arrow-alt-right"></i> <span>Enquire</span> </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </section>
  <!--================Product================= -->

  <!--================footer=================-->
  {% include 'fp/footer.html' %}
  <!--================footer=================-->

  <!--================Back To Top================= -->
  <div id="back-to-top" class="back-to-top">
    <a href="#"><i class="fas fa-long-arrow-alt-up"></i> </a>
  </div>
  <!--=================Back To Top================ -->
  
  
  	<!-- modal pop-up -->
		<div class="modal " id="get-quote" tabindex="-1" role="dialog" aria-labelledby="language" style="padding-right: 5px;">
<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
<div class="modal-content">
<button type="button" class="close_form" data-dismiss="modal" aria-label="Close"></button>
<div class="modal-body" style="padding:0;">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 clearfix push-left">
<form class="form-width " method="POST" id="form_submit_1">
{% csrf_token %}
  <h2 style="color:#3c479d; text-align:center; padding-top: 30px;">Quick Enquiry</h2>
  
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 clearfix float-left">
<div class="log_set" style="margin-bottom:0px;">
<label style="color:#000;">Name</label>
<input type="text" name="name" class="charonly" value="" placeholder="Enter your name" required="" style=" border:1px solid #ccc; padding: 0px 0px 0px 10px;">
</div>  
</div>  
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 clearfix float-left">
<div class="log_set" style="margin-bottom:0px;">
<label style="color:#000;">Mobile No</label>
<input type="text" name="mobile" class="charonly" value="" placeholder="Enter your mobile" required="" style=" border:1px solid #ccc; padding: 0px 0px 0px 10px;">
</div>  
</div>         
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 clearfix float-left">
<div class="log_set" style="margin-bottom:30px;">
<label style="color:#000;">Email</label>
<input type="email" name="email" value="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Enter your email" required="" style=" border:1px solid #ccc; padding: 0px 0px 0px 10px;">
</div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 clearfix float-left"><button type="submit" name="btnSubmit" class="btn btn-primary" style="width:32%; margin-left:auto; margin-right:auto; display: block; margin-bottom:15px;"><i class="btn-icon fas fa-long-arrow-alt-right"></i>SUBMIT</button></div>
</form>   
</div>
<div class="col-md-6 clearfix push-left ml-imgs" style="padding:15px;">
 
</div>
</div>
</div>
</div>
</div>



		<!-- //modal pop-up -->
</body>
{% endblock content %}