{% extends 'index.html' %}
{% block header %}
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0"></h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
              <li class="breadcrumb-item"><a href="#">127.0.0.1</a></li>
              <li class="breadcrumb-item active" aria-current="page">Edit Credentials</li>
            </ol>
          </nav>
          {% if messages %}
              {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{message}} 
                </div>
              {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock header %}
{% block content %}
    <main class="mx-5">
        <div class="container-fluid p-5">
            <div class="text-center">
                <h1 class="mb-5">Chnage password</h1>
            </div>
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}

              {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
              {% endif %}

              {% for field in form %}
                  <div class="form-group">
                      {{ field.label }}
                      {{ field }}
                  </div>

                  {% if field.errors %}
                      <div class="alert alert-danger">
                          {{ field.errors }}
                      </div>
                  {% endif %}
              {% endfor %}
              <div class="text-center">
              <button type="submit" class="btn btn-primary text-center">change password</button>
              </div>
            </form>
          </div>
    </main>
{% endblock content %}