{% extends 'index.html' %}
{% block header %}
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0"></h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
              <li class="breadcrumb-item"><a href="#">127.0.0.1</a></li>
              <li class="breadcrumb-item active" aria-current="page">Add Logo</li>
            </ol>
          </nav>
          {% if messages %}
              {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{message}} 
                </div>
              {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock header %}
{% block content %}
    <main class="mx-5">
        <div class="container-fluid p-5">
          <form method="POST">
            {% csrf_token %}
            <div class="row">
            <div class="form-group col-md-6">
                <label for="example-color-input" class="form-control-label text-center">Primary Color</label>
                <input class="form-control" type="color" value="{{color.Primary}}" id="primary">
            </div>
            <div class="form-group col-md-6">
              <label for="example-color-input" class="form-control-label text-center">Hex Code</label>
              <input class="form-control" type="text" name="primary" value="{{color.Primary}}" id="phex">
            </div>
            <div class="form-group col-md-6">
              <label for="example-color-input" class="form-control-label text-center">Secondary Color</label>
              <input class="form-control" type="color" value="{{color.Secondary}}" id="secondary">
            </div>
            <div class="form-group col-md-6">
              <label for="example-color-input" class="form-control-label text-center">Hex code</label>
              <input class="form-control" type="text" name="secondary" value="{{color.Secondary}}" id="shex">
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary text-center">Set Color</button>
          </div>
        </form>
        </div>
    </main>
{% endblock content %}