{% extends 'index.html' %}
{% block header %}
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0"></h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
              <li class="breadcrumb-item"><a href="#">127.0.0.1</a></li>
              <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
            </ol>
          </nav>
          {% if messages %}
              {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{message}} 
                </div>
              {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock header %}
{% block content %}
    <main class="mx-5">
        <div class="container-fluid p-5">
            <div class="text-center">
                <h1 class="mb-5">CONTACT US</h1>
            </div>
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                    <div class="form-outline mb-4 col-md-6">
                        <label class="form-label">Company Name</label>
                        <input required="True" value="{{data.Company_Name}}" type="text" name="title" class="form-control" />
                    </div>
                    <div class="form-outline mb-4 col-md-6">
                      <label class="form-label">Mobile</label>
                      <input required="True" value="{{data.Mobile}}" type="text" name="mobile" class="form-control" />
                  </div>      
              </div>

              <div class="row">
                <div class="form-outline mb-4 col-md-6">
                    <label class="form-label">Telephone</label>
                    <input required="True" value="{{data.Telephone}}" type="text" name="telephone" class="form-control" />
                </div>
                <div class="form-outline mb-4 col-md-6">
                  <label class="form-label">Email</label>
                  <input required="True" value="{{data.Email}}" type="email" name="email" class="form-control" />
                </div>      
              </div>

              <div class="form-outline mb-4">
                <label class="form-label">Website</label>
                <input required="True" value="{{data.Website}}" type="text" name="website" class="form-control" />
              </div>

              <div>
                <h1 class="text-center">Location</h1>
              </div>

              <div class="form-outline mb-4">
                <label class="form-label">Address</label>
                <textarea required="True" name="address" class="form-control" id="" cols="30" rows="5">{{data.Adress}}</textarea>
              </div>

              <div class="row">
                <div class="form-outline mb-4 col-md-6">
                  <label class="form-label">Latitude</label>
                  <input required="True" value="{{data.Latitude}}" type="text" name="latitude" class="form-control" />
                </div>
                <div class="form-outline mb-4 col-md-6">
                  <label class="form-label">Longitude</label>
                  <input required="True" value="{{data.Longitude}}" type="text" name="longitude" class="form-control" />
                </div>
              </div>

              <div>
                <h1 class="text-center mt-2 mb-2">Social Media</h1>
              </div>

              <div class="row">
                <div class="form-outline mb-4 col-md-4">
                  <label class="form-label">WhatsApp</label>
                  <input value="{{data.Whatsapp}}" type="text" name="whatsapp" class="form-control" />
                </div>
                <div class="form-outline mb-4 col-md-4">
                  <label class="form-label">Facebook</label>
                  <input value="{{data.Facebook}}" type="text" name="facebook" class="form-control" />
                </div>
                <div class="form-outline mb-4 col-md-4">
                  <label class="form-label">Instagram</label>
                  <input value="{{data.Instagram}}" type="text" name="instagram" class="form-control" />
                </div>
              </div>

              <div class="row">
                <div class="form-outline mb-4 col-md-4">
                  <label class="form-label">Twitter</label>
                  <input value="{{data.Twitter}}" type="text" name="twitter" class="form-control" />
                </div>
                <div class="form-outline mb-4 col-md-4">
                  <label class="form-label">LinkedIn</label>
                  <input value="{{data.Linkedin}}" type="text" name="linkedin" class="form-control" />
                </div>
                <div class="form-outline mb-4 col-md-3">
                  <label class="form-label">Logo</label>
                  <input type="file" name="image" class="form-control" />
                </div>
                <div class="media align-items-center col-md-1">
                  <a href="" class="">
                    <img width="65px" height="65px" alt="" src="{{data.Image.url}}">
                  </a>
                </div>
              </div>

              <div>
                <h1 class="text-center">SEO</h1>
              </div>

              <div class="row">
                <div class="form-outline mb-4 col-md-4">
                    <label class="form-label">Url</label>
                    <input required="True" value="{{data.Url}}" type="text" name="url" class="form-control" />
                </div>
                <div class="form-outline mb-4 col-md-4">
                    <label class="form-label">SEO Meta Title</label>
                    <input value="{{data.SMTitle}}" type="text" name="smtitle" class="form-control" />
                </div>
                <div class="form-outline mb-4 col-md-4">
                    <label class="form-label">SEO Meta Keywords</label>
                    <input value="{{data.SMKeywords}}" type="text" name="smkeywords" class="form-control" />
                </div>
              </div>
              
              
              <div class="form-outline mb-4">
                <label class="form-label">SEO Meta Description</label>
                <textarea name="smdescription" id="" cols="30" rows="5" class="form-control">{{data.SMDescription}}</textarea>
              </div>

              <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary btn-block">submit</button>
                </div>
              </div>
            </form>
          </div>
    </main>
{% endblock content %}