{% extends 'index.html' %}
{% block header %}
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0"></h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
              <li class="breadcrumb-item"><a href="#">127.0.0.1</a></li>
              <li class="breadcrumb-item active" aria-current="page">Enquiry</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock header %}
{% block content %}
    <main class="mx-5">
        <div class="container-fluid p-5">
            <div class="text-center">
                <h1>Enquiry</h1>
            </div>
            <div class="text-right">
              <a href="{% url 'export-enquiries' %}" class="btn btn-warning text-left">Export Enquiries</a>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Mobile</th>
                  <th scop="col">Product</th>
                  <th>Refer No</th>
                  <th scope="col">Date</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for enquiry in enquiries %}
                <tr>
                  <th scope="row">{{forloop.counter}}</th>
                  <td>{{enquiry.Name}}</td>
                  <td>{{enquiry.Mobile_Number}}</td>
                  <td>{{enquiry.Product_Name}}</td>
                  <td>{{enquiry.Refer_number}}</td>
                  <td>{{enquiry.Date}}</td>
                  <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter2-{{forloop.counter}}">view</button>
                  </td>
                  <td>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter-{{forloop.counter}}">Delete</button>
                  </td>
                  <td>
                    <div class="modal fade" id="exampleModalCenter-{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                          </div>
                          <div class="modal-body">
                            do you want to delete the enquiry...?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <a href="{% url 'remove_enquiry' enquiry.id %}"><button type="button" class="btn btn-danger">Delete</button></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="modal fade" id="exampleModalCenter2-{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                          </div>
                          <div class="modal-body">
                            <h4 class="text-center">Details</h4>
                            <table class="table text-center table-borderless">
                              <tr>
                                <td>Name</td>
                                <td>{{enquiry.Name}}</td>
                              </tr>
                              <tr>
                                <td>Email</td>
                                <td>{{enquiry.Email}}</td>
                              </tr>
                              <tr>
                                <td>Mobile</td>
                                <td>{{enquiry.Mobile_Number}}</td>
                              </tr>
                              <tr>
                                <td>Product Name</td>
                                <td>{{enquiry.Product_Name}}</td>
                              </tr>
                              <tr>
                                <td>Refer</td>
                                <td>{{enquiry.Refer_number}}</td>
                              </tr>
                              <tr>
                                <td>Date</td>
                                <td>{{enquiry.Date}}</td>
                              </tr>
                              <tr>
                                <td>District</td>
                                <td>{{enquiry.District}}</td>
                              </tr>
                              <tr>
                                <td>Address</td>
                                <td>{{enquiry.Address}}</td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
    </main>
{% endblock content %}