{% extends 'index.html' %}
{% block header %}
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0"></h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
              <li class="breadcrumb-item"><a href="#">127.0.0.1</a></li>
              <li class="breadcrumb-item active" aria-current="page">Manage Testimonial</li>
            </ol>
          </nav>
          {% if messages %}
              {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{message}} 
                </div>
              {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock header %}
{% block content %}
<div class="table-responsive">
    <div class="text-center mt-5 mb-5">
        <h1>Manage Testimonial</h1>
    </div>
    <table class="table align-items-center table-flush">
      <thead class="thead-light">
        <tr class="text-center">
          <th scope="col" class="sort" data-sort="name">SI</th>
          <th scope="col" class="sort" data-sort="budget">Testimonial Title</th>
          <th scope="col" class="sort" data-sort="status">Image</th>
          <th scope="col" class="sort" data-sort="completion">Company</th>
          <th scope="col" class="sort" data-sort="completion">Designation</th>
          <th scope="col" class="sort" data-sort="completion"></th>
          <th scope="col" class="sort" data-sort="completion"></th>
          <th></th>
        </tr>
      </thead>
      <tbody class="list text-center">
        {% for testimonial in testimonials %}
          <tr>
            <td>{{forloop.counter}}</td> 
            <td>{{testimonial.Tes_Name}}</td>  
            {% if testimonial.Tes_Image %}  
              <td scope="row" class="align-items-center d-flex justify-content-center">
                <div class="media align-items-center">
                  <a href="#" class="avatar rounded-circle mr-3">
                    <img style="height:-webkit-fill-available;" alt="" src="{{testimonial.Tes_Image.url}}">
                  </a>
                </div>
              </td>
            {% else %}
              <td scope="row" class="align-items-center d-flex justify-content-center">
                <div class="media align-items-center">
                  <a href="#" class="avatar rounded-circle mr-3">
                    <img style="height:-webkit-fill-available;" alt="" src="https://static.thenounproject.com/png/2222628-200.png">
                  </a>
                </div>
              </td>
            {% endif %}
            <td>{{testimonial.Company_Name}}</td>
            <td>{{testimonial.Designation}}</td>
            <td>
              <a href="{% url 'edit_testimonial' testimonial.id %}"><button class="btn btn-primary">Edit</button></a>
            </td>
            <td>
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter-{{forloop.counter}}">Delete</button>
            </td>
            <td>
              <div class="modal fade" id="exampleModalCenter-{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                    </div>
                    <div class="modal-body">
                      do you want to delete the testimonial
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <a href="{% url 'remove_testimonial' testimonial.id %}"><button type="button" class="btn btn-danger">Delete</button></a>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}