{% extends 'index.html' %}
{% block header %}
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0"></h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
              <li class="breadcrumb-item"><a href="#">127.0.0.1</a></li>
              <li class="breadcrumb-item active" aria-current="page">Upload Image</li>
            </ol>
          </nav>
          {% if messages %}
              {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{message}} 
                </div>
              {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock header %}
{% block content %}
    <main class="mx-5">
        <div class="container-fluid p-5">
            <div class="text-center">
                <h1 class="mb-5">Upload image</h1>
            </div>
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                    <div class="form-outline mb-4 col-md-6">
                        <label class="form-label">Album</label>
                        <select required="True" name="select" id="" class="form-control">
                                <option value="">select album</option>
                            {% for album in albums %}
                                <option value="{{album.id}}">{{album.Title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-outline mb-4 col-md-6">
                        <label class="form-label">Image</label>
                        <input required="True" multiple type="file" name="image" class="form-control" />
                    </div>
              </div>
              
              <div class="row mb-4">
                <div class="col-md-4"></div>
                <div class="col-md-4 d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary btn-block">submit</button>
                </div>
                <div class="col-md-4"></div>
              </div>
            </form>
          </div>
    </main>
{% endblock content %}